*.pyc
*.npy
*.hdf5
*.py~
*log

./dist/

./single_pulse_ml/*pkl
./single_pulse_ml/*npy
./single_pulse_ml/*hdf5
./single_pulse_ml/plots/*png
./single_pulse_ml/model
./single_pulse_ml/run_frb_simulation.py
./single_pulse_ml/run_single_pulse_DL.py

/*.egg-info
